.interests {
  padding: 1.5rem;
  background: var(--color-background-light);
  border-radius: 16px;
  box-shadow: 0 4px 30px var(--color-box-shadow);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid var(--color-border-light);
  width: min(100%, 600px);
  margin: 0 auto;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 0.625rem;
}

.list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
}

.item {
  font-size: 1rem;
  color: var(--color-item-text);
  padding: 0.3125rem 0.625rem;
  background-color: var(--color-item-background);
  border-radius: 15px;
}

.noItemText {
  font-size: 1rem;
  color: var(--color-text-light);
}
