.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1.25rem;
  width: 100%;
}

.profileImage {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 3px solid var(--color-primary);
  object-fit: cover;
}

.name {
  font-size: 2rem;
  color: var(--color-active-text);
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    text-align: center;
  }
}
